* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Home page */
    h1 {
        font-size: 50px;
        margin: auto 0px;
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid black;
    }

    #front-page-header {
        text-align: center;
        margin: auto 0px;
        padding: 10px;
        border-bottom: 2px solid black;
    }

    #main-dish {
        text-align: center;
        margin: auto 0px;
        font-size: 35px;
        margin: 5px;
    }

    /* Make recipes into grid layout */
    #recipe-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        gap: 10px;
        padding: 10px;
        margin: 0px;
        object-fit: cover;
    }

    .card {
            border: 2px solid coral;
            display: flex;
            padding: 10px;
            background-color: rgb(250, 207, 191);
            font-size: 25px;
            flex-direction: column;
            text-align: center;
    }

    .home-images {
        height: 85%;
        width: 95%;
        box-shadow: 0px 0px 15px 5px coral;
    }

    


/* Recipe pages */
    .header-food-page {
        font-size: 50px;
        margin: auto 0px;
        text-align: center;
        padding: 10px;
    }

    img {
        display: block;
        width: 95%;
        height: auto;
        align-self: center;
        margin: 10px auto;
    }