/* Home page */
#header-home {
    font-size: 50px;
    margin: auto 0px;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

#front-page-header {
    text-align: center;
    margin: auto 0px;
    padding: 10px;
    border-bottom: 2px solid black;
}

#dishes {
    text-align: center;
    margin: auto 0px;
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 35px;
}

/* Make recipes into grid layout */
    /* Main dishes */
    #recipe-cards-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        gap: 10px;
        padding: 10px;
        margin: 0px;
        object-fit: cover;
    }

    .card-main {
        border: 2px solid rgb(235, 178, 32);
        display: flex;
        padding: 10px;
        background-color: rgb(235, 227, 135);
        font-size: 25px;
        flex-direction: column;
        text-align: center;
        border-radius: 5%;

    }

    .home-images-main {
        height: 85%;
        width: 95%;
        margin: 2.5% auto;
        box-shadow: 0px 0px 15px 5px rgb(235, 178, 32);
        border-radius: 5%;
    }

    .card-info-main {
        font-family: 'Courier New', Courier, monospace;
    }

    /* Drinks */
    #recipe-cards-drinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        gap: 10px;
        padding: 10px;
        margin: 0px;
        object-fit: cover;
    }

    .card-drinks {
        border: 2px solid lightseagreen;
        display: flex;
        padding: 10px;
        background-color: skyblue;
        font-size: 25px;
        flex-direction: column;
        text-align: center;
        border-radius: 5%;
    }

    .home-images-drinks {
        height: 85%;
        width: 95%;
        margin: 2.5% auto;
        box-shadow: 0px 0px 15px 5px lightseagreen;
        border-radius: 5%;
    }

    .card-info-drinks {
        font-family: 'Courier New', Courier, monospace;
    }